<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <audio controls>
    <source src="http://localhost:8888/tts2" type="audio/ogg">
    </audio>
    <button type="button" value="page move" onclick="download()">다운로드</button>
    <button type="button" onclick="play('http://localhost:8888/tts2')">재생</button>

    <form action="login_check" method="get">
       <p><input type="text" name="putText"></input></p>
       <p><input type="submit" value="음성 합성"></input></p>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    function play(sound) {
        if (sound) {
    var audio = new Audio(sound);
        audio.play();}
    }
    function download() {
        axios({
                url: 'http://localhost:8888/tts2',
                method: 'GET',
                responseType: 'arraybuffer', 
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'file.mp3'); 
                document.body.appendChild(link);
                link.click();
            });
        }
</script>
</html>