<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li ><a href="https://v.daum.net/v/20190530110004685?f=p" class="link_txt  #txt @1-8 ?c_id=hamny-20190530110004685">&#39;어구보증금 도입&middot;생산책임제도 확대&#39;..2030년 해양플라스틱 50% 줄인다</a>

    </li>
    <li ><a href="https://v.daum.net/v/20190530110003682?f=p" class="link_txt  #txt @1-9 ?c_id=hamny-20190530110003682">안전대진단 16만 개소 일체점검..행정처분 2263곳 &#39;안전불감증&#39; 여전</a>
    
    </li>
    <li ><a href="https://v.daum.net/v/20190530110009703?f=p" class="link_txt  #txt @1-10 ?c_id=hamny-20190530110009703">&quot;환율 상승, 실적개선 영향 제한적..10% 상승시 1.0%p 증가 그쳐&quot;</a>
    
    </li>
    </ul>
    </div>
    <ul class="list_thumb">
    <li class="fst">
    <a href="https://v.daum.net/v/20190530101841085?f=p" class="link_item #img @1-3 ?c_id=hamny-20190530101841085">
    <span class="thumb_g">
    <img src="//img2.daumcdn.net/thumb/C308x188/?fname=https://t1.daumcdn.net/daumtop_chanel/tromm/20190530102037566" width="154" height="94" class="img_thumb" alt="">
    <span class="frame_g"></span>
    </span>
    <div class="cont_item">
    <strong class="tit_item">헝가리 다뉴브강 침몰선은 길이 27m 최대탑승...</strong>
    </div>
    </a>
    </li>
    <li >
    <a href="https://newslink.media.daum.net/p/20190530094859708" class="link_item #img @1-4 ?c_id=hamny-20190530094859708">
    <span class="thumb_g">
    <img src="//img2.daumcdn.net/thumb/C308x188/?fname=https://t1.daumcdn.net/daumtop_chanel/tromm/20190530095435634" width="154" height="94" class="img_thumb" alt="">
    <span class="frame_g"></span>
    </span>
    <div class="cont_item">
    <strong class="tit_item">체중 245g의 세계 최소 미숙아, 5달만에 2...</strong>
    </div>
    </a>
    </li>
    <li >
    <a href="https://v.daum.net/v/20190530094854706?f=p" class="link_item #img @1-5 ?c_id=hamny-20190530094854706">
    <span class="thumb_g">
    <img src="//img2.daumcdn.net/thumb/C308x188/?fname=https://t1.daumcdn.net/daumtop_chanel/tromm/20190530095208966" width="154" height="94" class="img_thumb" alt="">
    <span class="frame_g"></span>
    </span>
    <div class="cont_item">
    <strong class="tit_item">참좋은여행 "유가족께 사죄..모든 역량 동원하여...</strong>
    </div>
    </a>
    </li>
    </ul>
    </div>
    
    <div class="news_flow #news1">
    <div class="unit_home">
    <strong class="tit_home"><a href="https://media.daum.net/" class="ico_vert link_home #home">뉴스홈</a></strong>
    <ul class="list_home">
    <li><a href="https://media.daum.net/issue/" class="link_home #issue">이슈</a></li>
    <li><a href="https://media.daum.net/series/" class="link_home #series">연재</a></li>
    <li><a href="https://media.daum.net/ranking/popular/" class="link_home #ranking">랭킹</a></li>
    <li><a href="https://media.daum.net/photo/" class="link_home #photo">포토</a></li>
    <li><a href="https://media.daum.net/tv/" class="link_home #tv">TV</a></li>
    <li><a href="https://gallery.v.daum.net/p/home" class="link_home #gallery">갤러리</a></li>
    </ul>
    </div>
    </div>
    
    </div>
    <h3 id="entertainTab" class="tit_tabcont tit_entertain #title"><a href="http://media.daum.net/entertain" class="txt_pctop link_tit #enter"><span class="ir_wa">연예</span></a></h3>
    <div id="entertain" class="wrap_tabcont wrap_entertain">
    </div>
    <h3 id="sportsTab" class="tit_tabcont tit_sports #title"><a href="http://sports.media.daum.net/sports" class="txt_pctop link_tit #sports"><span class="ir_wa">스포츠</span></a></h3>
    <div id="sports" class="wrap_tabcont wrap_sports">
    </div>
    <h3 id="movieTab" class="tit_tabcont tit_movie #title"><a href="http://movie.daum.net" class="txt_pctop link_tit #movie"><span class="ir_wa">영화</span></a></h3>
    <div id="movie" class="wrap_tabcont wrap_movie #movie">
    </div>
    <h3 id="autoTab" class="tit_tabcont tit_auto #title"><a href="http://auto.daum.net/index.daum" class="txt_pctop link_tit #auto"><span class="ir_wa">자동차</span></a></h3>
    <div id="auto" class="wrap_tabcont wrap_auto #auto">
    </div>
    <h3 id="realestateTab" class="tit_tabcont tit_realestate #title"><a href="https://realty.daum.net" class="txt_pctop link_tit #realestate"><span class="ir_wa">부동산</span></a></h3>
    <div id="realestate" class="wrap_tabcont wrap_realestate #realestate">
    </div>
    <div class="page_pctop page_btype #function #newsbox">
    <span class="info_page">
    <span class="screen_out">현재 탭</span><strong id="mediaPageNum" class="num_index">1</strong><span class="txt_slash">/</span><span class="screen_out">전체 탭</span>8</span>
    <button id="mediaPrevBtn" type="button" class="ico_pctop btn_page #prevBtn"><span class="ir_wa"> &lt; 이전 탭</span></button>
    <button id="mediaNextBtn" type="button" class="ico_pctop btn_page btn_next #nextBtn"><span class="ir_wa"> &gt; 다음 탭</span></button>
    </div>
    </div>
    <div class="hotissue_builtin hide">
    <div class="realtime_part" data-tiaramapper="realtime_issue1">
    <h4 class="tit_hotissue">실시간 이슈 검색어</h4>
    <ol class="list_hotissue issue_row">
    <li class="current">
    <div class="roll_txt @1">
    <div class="rank_cont">
    <span class="num_pctop rank1"><span class="ir_wa">1위</span></span>
    <span class="txt_issue"><a href="https://search.daum.net/search?w=tot&amp;q=%EC%98%88%EC%84%B1&amp;DA=ATG&amp;rtmaxcoll=1TH" class="link_issue">예성</a></span>
    </div>
    <div class="rank_cont" aria-hidden="true">
    <span class="num_pctop rank1"><span class="ir_wa">1위</span></span>
    
</body>
</html>